<h1><%= @adventure.title %></h1>

<p><%= @adventure.description %></p>

<p>Completed: <%= @adventure.completed %></p>

<h2>Encounters</h2>

<% @adventure.encounters.each do |encounter| %>
  <h4 class="dropdown-button"><%= encounter.title %></h4>
  <div class="dropdown">
    <p>
      <%= encounter.description %>
    </p>
    <p>
      Reward: <%= encounter.reward %>
    </p>
    <p>
      Experience: <%= encounter.experience %>
    </p>
    <p>
      Completed: <%= encounter.completed %>
    </p>
  </div>
<% end %>

<% @adventure.notes.each do |note| %>
  <h4>Note</h4>
  <p>
    <%= note.title %>
  </p>
  <p>
    <%= note.description %>
  </p>
<% end %>

<%= link_to 'Edit Adventure', edit_adventure_path(@adventure.id) %>
<br>
<%= link_to "Delete Adventure", adventure_path(@adventure.id), method: :delete, data: {confirm: "Are you sure?"} %>
