<h1><%= @adventure.title %></h1>

<p><%= @adventure.description %></p>

<p>Completed: <%= @adventure.completed %></p>

<h2>Encounters</h2>

<% @adventure.encounters.each do |encounter| %>
  <h4 class="encounter-header"><%= encounter.title %></h4>
  <ul class="encounter">
    <li><%= encounter.description %></li>
    <li>Reward: <%= encounter.reward %></li>
    <li>Experience: <%= encounter.experience %></li>
    <li>Completed: <%= encounter.completed %></li>
  </ul>
<% end %>

<h2>Notes</h2>
<% @adventure.notes.each do |note| %>
  <h4><%= note.title %></h4>
  <p>
    <%= note.description %>
  </p>
<% end %>

<%= link_to 'Edit Adventure', edit_adventure_path(@adventure.id) %>
<br>
<%= link_to "Delete Adventure", adventure_path(@adventure.id), method: :delete, data: {confirm: "Are you sure?"} %>
