<h1><%= @player.name %></h1>

<p><%= @player.description %></p>

<h2>Notes</h2>
<% @player.notes.each do |note| %>
  <h4><%= note.title %></h4>
  <p>
    <%= note.description %>
  </p>
<% end %>

<%= link_to 'Edit Player', edit_player_path(@player.id) %>
<br>
<%= link_to "Delete Player", player_path(@player.id), method: :delete, data: {confirm: "Are you sure?"} %>
