<%= nested_form_for @npc do |f| %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <h2>Notes</h2>

  <%= f.fields_for :notes do |notes_form| %>
    <div>
      <h4>Note</h4>
      <%= notes_form.link_to_remove 'Delete Note' %>
      <br>
      <%= notes_form.label :title %>
      <%= notes_form.text_field :title %>
      <br>
      <%= notes_form.label :description %>
      <%= notes_form.text_area :description %>
    </div>
  <% end %>
  <br>
  <div><%= f.link_to_add "Add a note", :notes %></div>
  <br>

  <div>
    <%= f.submit 'Submit' %>
  </div>

<% end %>
