<!DOCTYPE html>
<html>
<head>
  <title>DmDashboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="header-wrap">
    <header>
      <h1><%= link_to 'DM Dashboard', root_path %></h1>
      <nav>
        <ul>
          <li><%= link_to 'Players', players_path %></li>
          <li><%= link_to 'New Player', new_player_path %></li>
          <li><%= link_to 'NPCs', npcs_path %></li>
          <li><%= link_to 'New NPC', new_npc_path %></li>
          <li><%= link_to 'Locations', locations_path %></li>
          <li><%= link_to 'New Location', new_location_path %></li>
          <li><%= link_to 'Adventures', adventures_path %></li>
          <li><%= link_to 'New Adventure', new_adventure_path %></li>
        </ul>
      </nav>
      <div class="clear"></div>
    </header>
  </div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class="main-wrap">
    <section class="main-section">
      <%= yield %>
    </section>
  </div>

  <div class="footer-wrap">
    <footer>
      <p>
        Footer text
      </p>
    </footer>
  </div>

</body>
</html>
