<!DOCTYPE html>
<html>
<head>
  <title>DmDashboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= link_to 'Home', root_path %>
  <%= link_to 'Players', players_path %>
  <%= link_to 'New Player', new_player_path %>
  <%= link_to 'NPCs', npcs_path %>
  <%= link_to 'New NPC', new_npc_path %>
  <%= link_to 'Locations', locations_path %>
  <%= link_to 'New Location', new_location_path %>
  <%= link_to 'Adventures', adventures_path %>
  <%= link_to 'New Adventure', new_adventure_path %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
